<div *ngIf='news' class="ls-b-news-item">
    <a routerLink='/news/{{news.slug}}' class="ls-news-img">
      <img src="{{news.thumbnail}}" alt="{{news.title}}">
    </a>
    <div class="ls-b-info">
      <div class="ls-b-info-inner">
        <div class="ls-head">
            <a routerLink='/news/{{news.slug}}'>{{news.title}}</a>
        </div>
        <div class="ls-body">
          <p>{{news.created_at | date}}</p>
        </div>
      </div>
    </div>
  </div>