<section *ngIf='privacyPolicy' class="ls-s-section ls-html-container ls-s-term-of-use">
    <div class="ls-b-container">
      <div class="ls-b-head">
        <h2 class="ls-color-green">{{privacyPolicy.title}}</h2>
      </div>
      <div class="ls-b-body" [innerHTML]='privacyPolicy.description | sanitizeHtml'> 
      </div>
      </div>
  </section>