<section class="ls-s-section ls-s-user-info ls-s-account-setting" *ngIf='currentUser'>
  <div class="ls-b-container ls-row-fluid">
    <div class="ls-b-head span-4">
      <app-user-info-side-bar></app-user-info-side-bar>
    </div>
    <div class="ls-b-body span-8">
      <div class="ls-b-body-inner">
        <div class="ls-head">
          <h2 class="ls-color-green">Account setting</h2>
        </div>
        <div class="ls-body">
          <form class="ls-form" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
            <div class="ls-row-fluid">
                <div class="ls-form-group span-6">
                    <label for="username">Name</label>
                    <input 
                      type="text" 
                      placeholder="Name" 
                      formControlName="username"
                      class="ls-form-control" 
                      [ngClass]="{ 'ls-is-invalid': submitted && f.username.errors }"
                    />
                    <div *ngIf="submitted && f.username.errors" class="ls-invalid-feedback">
                      <div *ngIf="f.username.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="ls-form-group span-6">
                    <label for="dateofbirth">Date of birth</label>
                    <input 
                      type="date" 
                      placeholder="mm/dd/yyyy" 
                      formControlName="dateofbirth"
                      class="ls-form-control" 
                      [ngClass]="{ 'ls-is-invalid': submitted && f.dateofbirth.errors }"
                    />

                    <div *ngIf="submitted && f.dateofbirth.errors" class="ls-invalid-feedback">
                      <div *ngIf="f.dateofbirth.errors.required">Date of birth is required</div>
                    </div>
                </div>
            </div>
            <div class="ls-form-group">
                <label for="email">Email</label>
                <input 
                  type="email" 
                  placeholder="louisiane@louisiane.vn" 
                  formControlName="email"
                  class="ls-form-control" 
                  [ngClass]="{ 'ls-is-invalid': submitted && f.email.errors }"
                />
                <div *ngIf="submitted && f.email.errors" class="ls-invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="ls-form-group">
                <label for="owallet">O-wallet</label>
                <input 
                  type="number" 
                  formControlName="owallet"
                  class="ls-form-control" 
                />
            </div>
            <div class="ls-form-group">
                <label for="phone">Phone</label>
                <input 
                  type="text" 
                  placeholder="+0112345678" 
                  formControlName="phone"
                  class="ls-form-control" 
                  [ngClass]="{ 'ls-is-invalid': submitted && f.phone.errors }"
                />
                <div *ngIf="submitted && f.phone.errors" class="ls-invalid-feedback">
                  <div *ngIf="f.phone.errors.required">Phone is required</div>
                </div>
            </div>
            <div class="ls-form-group">
                <label>Avatar</label>
                <div class="ls-upload-group">
                  <img src="{{ currentUser.user_profile.avatar ? currentUser.user_profile.avatar : '../../../assets/images/avatar.jpg'}} " alt="avatar">
                  <div class="ls-input-file-custom">
                      <label for="file">Upload your avatar</label>
                        <input
                          type="file" 
                          accept="image/jpeg"
                          class="ls-form-control" 
                          (change)='onFileChange($event)'
                        />
                    </div>
                </div>
            </div>
            <div class="ls-form-group">
                <label for="address_title_1">Address 1</label>

                <div class="ls-row-fluid form-col">
                    <input 
                    type="text" 
                    placeholder="Home" 
                    formControlName="address_title_1"
                    class="ls-form-control span-4" 
                    [ngClass]="{ 'ls-is-invalid': submitted && f.address_title_1.errors }"
                  />
                  <div class="ls-address-info span-8">
                    <input type="text"
                      placeholder="Address 1" 
                      formControlName="address_1"
                      class="ls-form-control" 
                      (change)='onSearchChange1($event)'
                      [ngClass]="{'ls-is-invalid' : locationError1 }"
                    />
                    <div *ngIf='locationError1' class="ls-invalid-feedback">
                      <div>Address is not exist!</div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="ls-form-group">
                <label for="address_title_2">Address 2</label>
                <div class="ls-row-fluid form-col">
                     <input 
                     type="text" 
                     placeholder="Office" 
                     formControlName="address_title_2"
                     class="ls-form-control span-4" 
                     [ngClass]="{ 'ls-is-invalid': submitted && f.address_title_2.errors }"
                    />
                    <div class="ls-address-info span-8">
                        <input type="text"
                          placeholder="Address 2" 
                          formControlName="address_2"
                          class="ls-form-control" 
                          (change)='onSearchChange2($event)'
                          [ngClass]="{'ls-is-invalid' : locationError2 }"
                        />
                        <div *ngIf='locationError2' class="ls-invalid-feedback">
                          <div>Address is not exist!</div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="ls-form-group margin-bottom-30">
                <label for="address_title_3">Address 3</label>
                <div class="ls-row-fluid form-col">
                    <input 
                      type="text" 
                      placeholder="Other place" 
                      formControlName="address_title_3"
                      class="ls-form-control span-4" 
                      [ngClass]="{ 'ls-is-invalid': submitted && f.address_title_3.errors }"
                    />
                    <div class="ls-address-info span-8">
                        <input type="text"
                          placeholder="Address 3" 
                          formControlName="address_3"
                          class="ls-form-control" 
                          (change)='onSearchChange3($event)'
                          [ngClass]="{'ls-is-invalid' : locationError3 }"
                        />
                        <div *ngIf='locationError3' class="ls-invalid-feedback">
                          <div>Address is not exist!</div>
                        </div>
                    </div>
                   
                </div>
               
            </div>
            <button type="submit" class="ls-btn-submit ls-submit-input-sms-code">Save</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>