
<div *ngIf='existOrder?.length > 0'>
  <app-hero-step-payment [paymentPageCMS]='paymentPageCMS'></app-hero-step-payment>
  <section class="ls-s-section ls-s-payment-page">
    <div class="ls-b-container">
  
      <div class="ls-b-body ls-row-fluid">
        <div class="span-8">
          <app-steps-in-payment [paymentPageCMS]='paymentPageCMS'></app-steps-in-payment>
        </div>
        <div class="span-4">
          <app-order-info-sidebar></app-order-info-sidebar>
        </div>
      </div>
    </div>
  </section>
</div>
