<div class="ls-b-order-info">
  <div class="ls-b-order-info-inner">
    <div class="ls-b-order-info-head">
       <h3>YOUR ORDER</h3>
    </div>
    <div [ngClass]= " (step2 || step3) ? 'ls-b-order-info-body is-disable' : 'ls-b-order-info-body'">
      <div class="ls-body">
        <div *ngFor='let dish of listDishs' class="ls-item">
            <app-order-detail-chose [dish]='dish'></app-order-detail-chose>
        </div>
      </div>
      <div class="ls-foot">
        <ul>
          <li>
            <span>Delivery fee</span>
            <span class="pull-right">${{deliveryFee}}</span>
          </li>
          <li>
              <span>Distance</span>
              <span class="pull-right">{{distance}} km</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="ls-b-order-info-foot">
      <div class="ls-total">
          <span>Total</span>
          <span class="pull-right">${{totalPriceCart}}</span>
      </div>
      <button *ngIf='!disableOrder' class="ls-btn-submit" routerLink='/payment'> Order now</button>
    </div>  
  </div>
</div>