<div *ngIf='addonItem' class="ls-b-option">
  <div class="ls-b-option-inner">
    <div class="ls-head">
      <h5>{{addonItem.name}}</h5>
      <span *ngIf='addonItem.required' class="ls-color-red pull-right">Required</span>
    </div>
    <div *ngFor='let item of addonItem.addon_info; index as i'  class="ls-body">
      	<fieldset>
            <input 
            [type]="addonItem.required ? 'radio' : 'checkbox'" 
            name="radio{{addonItem.id}}" id="radio-{{addonItem.slug}}-{{item.id}}" 
            value="{{item.price_addon}}"
            [checked]="addonItem.required && i===0"
            (change)='selectAddons($event)'
            [attr.data-addonsName]='item.name'
            class="addonInput"
            />
            <label for="radio-{{addonItem.slug}}-{{item.id}}">{{item.name}}</label>
        </fieldset>
        <span class="pull-right">+ {{item.price_addon}}$</span>
    </div>
  </div>
</div>
