<div *ngIf='paymentPageCMS' 
class="ls-b-hero-payment" 
[style.backgroundImage]="'url('+ paymentPageCMS.banner_path +')'">
  <div class="ls-b-hero-payment-inner">
    <h3>{{paymentPageCMS.title}}</h3>
    <ul>
      <li class="is-active">
        <p>1.Your details</p>
        <span></span>
      </li>
      <li [ngClass]="secondStep || thirdStep ? 'is-active' : ''">
        <p>2. Payment</p>
        <span></span>
      </li>
      <li [ngClass]="thirdStep ? 'is-active' : ''">
        <p>3. Finish!</p>
        <span></span>
      </li>
    </ul>
  </div>
</div>