

<section *ngIf='!currentUser' class="ls-s-section ls-s-register" style="background-image: url(../../../assets/images/background.jpg)">
  <div class="ls-b-container">
    <div class="ls-form-wrapper">
        <div class="ls-b-head">
            <h3>Register</h3>
        </div>
        <div class="ls-b-body">
            <div class="ls-head mobile-hide tablet-hide">
                <img src="../../../assets/images/logo-green.png" alt="logo">
            </div>
            <div class="ls-body" >

                <form *ngIf = '!inputVerifyCode' [formGroup]="inputPhoneNumberForm" (ngSubmit)="onSubmit()">
                    <label for="phonenumber">Submit your phone number</label>
                    <input 
                      type="text" 
                      [value]="defaultVal"
                      placeholder="Phone number" 
                      formControlName="phonenumber"
                      class="ls-form-control" 
                      [ngClass]="{ 'ls-is-invalid': submitted && f.phonenumber.errors }"
                    />
                    <div *ngIf="submitted && f.phonenumber.errors" class="ls-invalid-feedback">
                      <div *ngIf="f.phonenumber.errors.required">Number phone is required</div>
                    </div>
                    <div *ngIf="submitted && errorPhoneNumber" class="ls-invalid-feedback">
                        <div>Please enter a valid phone number</div>
                    </div>
                    
                    <p>Tap Next to verify your account with Account Kit 
                      powered by Facebook. You don't need a Facebook account 
                      to use Account Kit. An SMS may be sent to verify your number. 
                      Message and data rates may apply. Learn how Facebook uses your info.
                      </p>
                    <button type="submit"  class="ls-btn-submit">Next</button>
                </form>

                <form *ngIf = 'inputVerifyCode' [formGroup]="verifyForm" (ngSubmit)="onVerifySubmit()">
                    <label for="verifynumber">Submit your verify code</label>
                    <input 
                      type="text" 
                      placeholder="Verify number" 
                      formControlName="verifynumber"
                      class="ls-form-control" 
                      [ngClass]="{ 'ls-is-invalid': verifysubmitted && v.verifynumber.errors }"
                    />
                    <div *ngIf="verifysubmitted && v.verifynumber.errors" class="ls-invalid-feedback">
                      <div *ngIf="v.verifynumber.errors.required">Number is required</div>
                    </div>
                    <div *ngIf="verifysubmitted && errorVerifyCode" class="ls-invalid-feedback">
                      <div>Verify code is wrong. please retype!</div>
                    </div>
                    <button type="submit" class="ls-btn-submit ls-submit-input-sms-code">Submit</button>
                    <p class="ls-resend-sms"><a href="#" (click)='resendSms($event)'>I didn't get a code</a></p> 
                    <p>Tap Continue to accept Facebook's Terms, Data Policy, cookie use and the Privacy Policy and Terms of Service of Foody.</p>
                </form>

            </div>
            
         </div>
    </div>
    
  </div>
</section>