<footer *ngIf='generalOptionCMS'>
  <div class="ls-b-container ls-row-fluid">
    <div class="ls-b-head span-3 mobile-hide">
      <app-payment [generalOptionCMS]='generalOptionCMS'></app-payment>
    </div>
    <div class="ls-b-body span-6">
      <a routerLink="/">
        <img [src]="generalOptionCMS.footer_logo_path" alt="logo">
      </a>
      <ul>
        <li routerLinkActive="is-active">
          <a routerLink='/contact-us'>Contact us</a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="/term-of-use">Term of use</a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="/privacy-policy">Privacy policy</a>
        </li>
        <li routerLinkActive="is-active">
            <a routerLink="/news">News</a>
        </li>
        <li routerLinkActive="is-active">
            <a routerLink="/how-to-order">How To Order</a>
        </li>
    
      </ul>
    </div>
    <div class="ls-b-foot span-3">
      <p>Connect with:</p>
      <ul class="ls-b-sns">
        <li *ngFor='let item of generalOptionCMS.sns_list'>
          <a href="{{item.link}}" class="ls-sns {{item.icon_class}}"></a>
        </li>
      </ul>
      <p>Now App</p>
      <ul class="ls-b-app">
        <li *ngFor='let item of generalOptionCMS.appinfo_store'>
          <a href="{{item.link}}"><img [src]="mediaUrl + item.image" alt="ios app"></a>
        </li>
      </ul>
      <app-payment class="desktop-hide tablet-hide" [generalOptionCMS]='generalOptionCMS'></app-payment>
    </div>
  </div>
</footer>