

<app-step1-payment *ngIf='step1' [paymentPageCMS]='paymentPageCMS'></app-step1-payment>

<app-step2-payment *ngIf='step2'></app-step2-payment>

<app-step3-payment *ngIf='step3'  [paymentPageCMS]='paymentPageCMS'></app-step3-payment>
