<div *ngIf='paymentPageCMS' class="ls-b-payment-step ls-step-3">
    <div class="ls-head-green">
      <h3>Order confirmed!</h3>
    </div>
    <div class="ls-b-payment-step-content">
      <div class="ls-b-payment-step-content-inner">
        <img src="../../../assets/images/icon-success.svg" alt="success">
        <h3>{{paymentPageCMS.step3_title}}</h3>
        <p> {{paymentPageCMS.step3_description}}</p>
      </div>
    </div>
</div>