<section *ngIf='contactUsPage' class="ls-s-section ls-s-contact-us">
  <div class="ls-b-container">
        <div *ngFor='let item of contactUsPage.contact_item' class="ls-b-body">
            <h3 class="ls-color-green">{{item.title}}</h3>
            <div class="ls-info">
                <h5>{{item.text_line1}}</h5>
                <h5>{{item.text_line2}} <span class="ls-color-green">{{item.email}}</span></h5>
                <h5>{{item.text_line3}} <span class="ls-color-green">{{item.phone}}</span> </h5>    
            </div>
            <p>Please note we don't currently accept orders over the phone - so if you'd like 
              to place an order, please place it online. The number above is for customer service enquiries only.</p>
        </div>
    </div>
</section>