<app-hero-sub-page [newsPageHeroBanner]='newsPageHeroBanner'></app-hero-sub-page>
<section class="ls-s-section ls-s-news">
    <div class="ls-b-container">
        <div class="ls-b-body ls-row-fluid">
            <div *ngFor='let news of newsList' class="span-4">
                <app-news-item [news]='news'></app-news-item>
            </div>
        </div>
        <!-- <div *ngIf='menuLoading' class="ls-row-fluid ls-b-loaddings">
            <div *ngFor='let loaddingImg of [1,2,3,4,5,6]' class="span-4">
                <div class="ls-loading-image">
                    <div class="ls-b-text">
                        <div class="ls-text"></div>
                        <div class="ls-text"></div>        
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>