<section 
*ngIf='dishsPageCMS' 
class="ls-s-section ls-s-hero-subpage" 
[style.backgroundImage]="'url('+ dishsPageCMS.banner_path +')'">
  <div class="ls-b-container">
    <div class="ls-b-body">
      <h2>{{currentMenuName}}</h2>
      <ul>
        <li *ngFor='let item of dishsPageCMS.banner_description'> {{item.text}}</li>
      </ul>
    </div>
  </div>
</section>

<section *ngIf='newsPageHeroBanner'  
class="ls-s-section ls-s-hero-subpage" 
[style.backgroundImage]="'url('+ newsPageHeroBanner.banner_path +')'">
  <div class="ls-b-container">
    <div class="ls-b-body">
      <h2>{{newsPageHeroBanner.title}}</h2>
      <p>{{newsPageHeroBanner.description}}</p>
    </div>
  </div>
</section>
