
<section *ngIf='newsDetailPageCms' class="ls-s-section ls-s-news-detail-page">
  <div class="ls-b-container">
    <div class="ls-b-body ls-row-fluid">
      <div class="span-8">
        <div class="ls-head">
            <img [src]="newsDetailPageCms.thumbnail" alt="news louisiane">
            <h3>{{newsDetailPageCms.title}}</h3>
            <p>{{newsDetailPageCms.created_at | date}}</p>  
        </div>
        <div class="ls-body" [innerHTML]='newsDetailPageCms.description | sanitizeHtml'>
        </div>
      </div>
      <div class="span-4 ls-b-sidebar-news">
        <div *ngFor='let newsItem of newsSidebarCms'>
            <app-news-sidebar [newsSidebarCMS]='newsItem'></app-news-sidebar>
        </div>
        <button class="ls-btn-submit" (click)='gotoNewsPage()'> All news</button>        
      </div>
    </div>
  </div>
</section>
  