<section class="ls-s-section ls-coming-soon" style="background-image: url(../../../assets/images/banner.jpg)">
  <div class="ls-b-container">
    <img class="mobile-hide tablet-hide" src="../../../assets/images/logo.svg" alt="logo">
    <h2>We are coming soon</h2>
    <p>
        Our Website is Coming Soon.
        We are doing some work on the site and will be back shortly.
    </p>
  </div>
</section>