<div class="ls-b-payment-step ls-step-2">
    <div class="ls-head-green">
      <h3>Payment methods</h3>
    </div>
    <div class="ls-b-payment-step-content">
      <div class="ls-b-payment-step-content-inner">
        <form class="ls-form" #checkout="ngForm" (ngSubmit)="onSubmit(checkout)">
          <h5 class="ls-color-green">Payment Stripe:</h5>
          <div class="ls-row-fluid margin-bottom-30">
            <div class="span-6">
                <fieldset>
                  <input id="radio-1" name="paymentMethod" type="radio" disabled value="radio-1" [checked]='!creditPayment'>
                  <label for="radio-1">O-wallet</label>
                </fieldset>
                <ul class="ls-o-wallet-payment">
                  <li>
                    <span>Balance</span>
                    <span class="pull-right">{{balance}}$</span>
                  </li>
                  <li>
                      <span>Balance after payment</span>
                      <span class="pull-right">{{balanceAfterPayment}}$</span>
                  </li>
                  <li>
                    <span>Need to pay</span>
                    <span class="pull-right ls-color-red">{{needToPay}}$</span>
                </li>
                </ul>
            </div>
           
            <div class="span-6">
                <fieldset>
                    <input id="radio-2" name="paymentMethod" type="radio" disabled value="radio-1" [checked]='creditPayment'>
                    <label for="radio-2">Credit card</label>
                </fieldset>
                <h5 class="ls-color-green">Pay by:</h5>
                <ul class="ls-payment-bank">
                  <li>
                    <img src="../../../assets/images/visa-img.png" alt="bank">
                  </li>
                  <li>
                    <img src="../../../assets/images/master-card-img.png" alt="bank">
                  </li>
                  <li>
                    <img src="../../../assets/images/disc-img.png" alt="bank">
                  </li>
                </ul>

                <div class="form-row">
                    <label for="card-info" *ngIf='creditPayment'>Card Info</label>
                    <div id="card-info" #cardInfoStripe></div>
                
                    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                  </div>
            
            </div>
          </div>
          <button class="ls-btn-submit" (click)='goToFirstStep()'>Back</button>
          <button type="submit" class="ls-btn-submit pull-right"> Submit </button>
        </form>
      </div>
    </div>
</div>