<div class="ls-b-search-form">
  <div class="ls-b-search-form-inner">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input 
        type="text"
        placeholder="Search restaurant, grocery, food..."
        formControlName="searchText"
        [ngClass]="{ 'ls-is-invalid': submitted && f.searchText.errors }"
      />
      <button class="ls-btn-search"></button>
    </form>
  </div>
</div>