<header>
  <div class="ls-b-container">
      <div id="menuToggle" class="desktop-hide {{ shown ? 'is-show' : ''}}" (click)="showMenu($event)">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <a routerLink="/" class="ls-logo">
        <img *ngIf='generalOptionCMS' [src]="generalOptionCMS.header_logo_path" alt="logo">
      </a>
      <div *ngIf='!currentUser' class="ls-b-auth mobile-hide tablet-hide">
        <a routerLink="/sign-in">Sign in</a>
        <span>/</span>
        <a routerLink="/register">Register</a>
      </div>
      <div *ngIf='currentUser' class="ls-b-auth-logged-in mobile-hide tablet-hide">
          <div class="ls-user-info">
              <img src="{{ currentUser.user_profile.avatar ? currentUser.user_profile.avatar : '../../../assets/images/avatar.jpg'}} " alt="avatar">
              <div class="ls-b-dropdown">
                  <span>{{ currentUser.name ? currentUser.name : currentUser.phone}}</span>
                  <ul *ngIf='currentUser'>
                      <li routerLinkActive="is-active">
                        <a routerLink="/account-setting">Account setting</a>
                      </li>
                      <li routerLinkActive="is-active">
                          <a routerLink="/orders-history">Orders history</a>
                      </li>
                      <li routerLinkActive="is-active">
                          <a routerLink="/help">Help</a>
                      </li>
                      <li routerLinkActive="is-active">
                          <a routerLink="/logout" (click)='logoutFunc($event)' class="ls-color-red">Log out</a>
                      </li>
                  </ul>
              </div>
              
          </div>
           

      </div>
  </div>
  <div class="ls-b-nav-mobile desktop-hide {{ shown ? 'is-open' : ''}}">
    <ul *ngIf='!currentUser'>
        <li routerLinkActive="is-active">
          <a routerLink="/register">Register</a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="/sign-in">Sign in</a>
        </li>
    </ul>
    <ul *ngIf='currentUser'>
        <li class="ls-user-info">
           <img src="{{ currentUser.user_profile.avatar ? currentUser.user_profile.avatar : '../../../assets/images/avatar.jpg'}} " alt="avatar">
           <span class="ls-color-green">{{ currentUser.name ? currentUser.name : currentUser.phone}}</span>

        </li>
        <li routerLinkActive="is-active">
          <a routerLink="/account-setting">Account setting</a>
        </li>
        <li routerLinkActive="is-active">
            <a routerLink="/orders-history">Orders history</a>
        </li>
        <li routerLinkActive="is-active">
            <a routerLink="/help">Help</a>
        </li>
        <li routerLinkActive="is-active">
            <a routerLink="/logout" (click)='logoutFunc($event)' class="ls-color-red">Log out</a>
        </li>
    </ul>
  </div>
</header>