<div *ngIf='dish' class="ls-b-order-detail-chose">
  <a href="#" (click)='deleteFunc($event, dish)' class="ls-delete-dish"></a>
  <div class="ls-content">
    <h4>{{dish.dishName}}</h4>
    <ul  *ngIf='dish.addons'>
      <li *ngFor='let addon of dish.addons'>{{addon.key}}</li>
    </ul>
    <div class="ls-number-dish">
      <a href="#" (click)="deIncrease($event,dish)" (mouseleave)="updateDishInfo($event,dish)" class="ls-minus"></a>
      <span>{{numberDish}}</span>
      <a href="#" (click)="increase($event,dish)" (mouseleave)="updateDishInfo($event,dish)"  class="ls-plus"></a>
    </div>
  </div>
  <div class="ls-price pull-right">${{dishPrice}}</div>
</div>