<section *ngIf='popupAddon' class="ls-s-section ls-s-options-of-dish" id='ls-popup-addon'>
  <div class="ls-b-container" (clickOutside)="closePopupAddon($event)">
    <div class="ls-b-head">
      <img [src]="dish.image" alt="dishs louisiane">
      <aside>
        <h4 class="ls-one-line">{{dish.name}}</h4>
        <p>{{dish.description}}</p>
      </aside>
    </div>
    <div class="ls-b-body">
      <div *ngFor='let addonItem of addon' class="ls-item">
        <app-options [addonItem]='addonItem' [dish]='dish' (chooseAddons)='chooseAddonsFunc($event)'></app-options>
      </div>
    </div>
    <div class="ls-b-foot">
        <div class="ls-number-dish">
          <a class="ls-minus" (click)='deIncrease()'></a>
          <span>{{numberDish}}</span>
          <a class="ls-plus"  (click)='increase()'></a>
        </div>
        <div class="ls-total-price pull-right ls-color-green">
          <a href="#" class="ls-btn-submit" (click)= 'addtoCartFunc($event)'> OK +{{totalPrice}}$ </a> 
        </div>
    </div>
  </div>
</section>