<section 
*ngIf='homepageCMS' class="ls-s-section ls-s-hero" 
[style.backgroundImage]="'url('+ homepageCMS.banner_path +')'"
>
  <div class="ls-b-container">
    <h2>{{homepageCMS.banner_title}}</h2>
    <p>
      {{homepageCMS.banner_description}}
    </p>
    <app-search></app-search>
  </div>
</section>