<section class="ls-s-section ls-s-404">
    <div class="ls-b-container">
      <div class="ls-b-body"> 
        <img src="../../../assets/images/404.png" alt="404 page">
      </div>
      <div class="ls-b-foot"> 
        <h3>Page not found!</h3>
        <p>Sorry but the page you are looking doesn’t exist </p>
      </div>
    </div>
  </section>