<section class="ls-s-section ls-s-user-info ls-s-orders-history" *ngIf='currentUser'>
    <div class="ls-b-container ls-row-fluid">
      <div class="ls-b-head span-4">
        <app-user-info-side-bar></app-user-info-side-bar>
      </div>
      <div class="ls-b-body span-8">
        <div class="ls-b-body-inner">
          <div class="ls-head">
            <h2 class="ls-color-green">Orders History</h2>
          </div>
          <div class="ls-body ls-datatable">
              <table *ngIf='listHistoryOrder'>
                  <thead>
                    <tr>
                        <th>Orders</th>
                        <th class="text-align-left">Items</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor='let orderHistory of listHistoryOrder'>
                        <td>#{{orderHistory.id}}</td>
                        <td class="text-align-left">
                          <span *ngFor='let cart of orderHistory.cart_detail'>
                              {{cart.quantity}} x {{cart.dish[0].name}}
                          </span>
                        </td>
                        <td>${{orderHistory.total_price}}</td>
                        <td>{{orderHistory.status}}</td>
                        <td>{{orderHistory.updated_at}}</td>
                      </tr>
                  </tbody>
              </table>
            
          </div>
        </div>
      </div>
    </div>
  </section>