
<app-header [generalOptionCMS]='generalOptionCMS'></app-header>

<router-outlet></router-outlet>

<app-footer [generalOptionCMS]='generalOptionCMS'></app-footer>

<div *ngIf='loading' class="ls-b-loading" >
    <div class="ls-loading">
        <div class="obj"></div>
        <div class="obj"></div>
        <div class="obj"></div>
        <div class="obj"></div>
        <div class="obj"></div>
        <div class="obj"></div>
        <div class="obj"></div>
        <div class="obj"></div>
      </div>    
 </div>