<section class="ls-s-section ls-s-how-to-order">
    <div class="ls-b-container">
        <div class="ls-b-head">
            <h2>HOW TO ORDER?</h2>
            <p>Follow the Steps</p>
        </div>
        <div *ngIf='howToOrder' class="ls-b-body ls-row-fluid">
            <div *ngFor='let item of howToOrder.step_orders' class="span-3 ls-info-item">
                <img [src]="mediaUrl + item.image" alt="icon louisiane">
                <h5>{{item.title}} </h5>
                <p> {{item.description}}</p>
            </div>
        </div>
    </div>
</section>