<section class="ls-s-section ls-s-user-info ls-s-help" *ngIf='currentUser && helpPage'>
    <div class="ls-b-container ls-row-fluid">
      <div class="ls-b-head span-4">
        <app-user-info-side-bar></app-user-info-side-bar>
      </div>
      <div *ngFor='let item of helpPage.help_item' class="ls-b-body span-4">
        <div class="ls-head">
            <h5>{{item.title}}</h5>
        </div>
        <div class="ls-body">
          <p>{{item.description}}</p>
        </div>
        <div class="ls-foot">
          <a href="tel:{{item.phone}}">{{item.phone}}</a>
          <a  class="ls-icon-email" href="mailto:{{item.email}}">{{item.email}}</a>
        </div>
      </div>
      
    </div>
</section>