<!-- <app-comingsoon></app-comingsoon> -->
<app-hero-search [homepageCMS]='homepageCMS'></app-hero-search>
<section class="ls-s-section ls-s-menu">
    <div class="ls-b-container">
        <div class="ls-b-head">
            <h2>Shopping MENU</h2>
        </div>
        <div class="ls-b-body ls-row-fluid">
            <div *ngFor='let menu of menuList' class="span-4">
                <app-menu [menu]='menu'></app-menu>
            </div>
        </div>
        <div *ngIf='menuLoading' class="ls-row-fluid ls-b-loaddings">
            <div *ngFor='let loaddingImg of [1,2,3,4,5,6]' class="span-4">
                <div class="ls-loading-image">
                    <div class="ls-b-text">
                        <div class="ls-text"></div>
                        <div class="ls-text"></div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section  *ngIf='homepageCMS' class="ls-s-section ls-s-download-info">
    <div class="ls-b-container ls-row-fluid">
        <div class="ls-b-body span-6 pull-right">
            <div class="ls-head">
                <p>{{homepageCMS.appinfo_line}}</p>
                <h2 class="ls-color-green"> {{homepageCMS.appinfo_title}} </h2>        
            </div>
            <div class="ls-body">
                <p> {{homepageCMS.appinfo_description}}</p>
            </div>
            <div class="ls-foot">
                <ul>
                    <li *ngFor='let item of homepageCMS.appinfo_store'>
                        <a href="{{item.link}}"><img alt="ios app" [src]="urlStorageCMS + item.image"></a>
                    </li>
                   
                </ul>
            </div>
        </div>
        <div class="ls-b-body span-6">
            <img [src]="homepageCMS.appinfo_path" alt="louisiane image">
        </div>
    </div>
</section>