<app-hero-sub-page [currentMenuName]='currentMenuName' [dishsPageCMS]='dishsPageCMS'></app-hero-sub-page>
<section class="ls-s-section ls-s-dishs-list">
    <div class="ls-b-container">
        <div *ngIf='!searchText' class="ls-b-head">
            <a class="ls-current" (clickOutside)="close($event)" (click)='menuDropdownFunc()'>{{currentMenuName}}</a>
            <ul *ngIf='menuDropdown'>
                <li *ngFor='let menu of menuList'><a routerLink='/menu/{{menu.id}}'>{{menu.name}}</a></li>
            </ul>
        </div>
        <div *ngIf='searchText' class="ls-b-head">
            <h3>Results for "{{searchText}}"</h3>
        </div>
    
        <div class="ls-b-body ls-row-fluid">
            <div class="span-8">
                <div *ngFor='let dish of dishs' class="ls-dish">
                    <app-dish [dish]='dish' (open)="onOpen($event)" (addToCart)='addToCartFunc($event)'></app-dish>
                </div>
                <div *ngIf='dishLoading' class="ls-b-dish-loaddings">
                    <div *ngFor='let loaddingImg of [1,2,3,4]' class="ls-b-item">
                        <div class="ls-loading-image"> </div>
                        <div class="ls-b-text">
                            <div class="ls-text"></div>
                            <div class="ls-text"></div>
                            <div class="ls-text"></div>        
                        </div>
                    </div>
                </div>


                <div *ngIf='isNoDish' class="ls-no-item">
                     <h3>There is no dish</h3>
                </div>
            </div>
            <div class="span-4">
                <app-order-info-sidebar></app-order-info-sidebar>
            </div>
        </div>
    </div>
</section>
<!-- addon popup -->
<app-options-of-dish #addonsPopup [addon]='addon' [dish]='dish' [popupAddon]='popupAddon' (closeAddonPopup)='closeAddonPopup($event)' [totalPrice]='totalPrice' [totalPriceAddons]='totalPriceAddons'></app-options-of-dish>

<!-- info popup -->
<section *ngIf='popup' class="ls-s-section ls-s-dish-popup" id='ls-popup-img'>
    <div class="ls-b-container" (clickOutside)="closePopup($event)">
      <div class="ls-b-head">
        <img [src]="popupImage" alt="dishs louisiane">
        <aside>
          <h4 class="ls-one-line">{{popupTitle}}</h4>
          <p>{{popupDescription}}</p>
        </aside>
      </div>
    </div>
</section>