<section *ngIf='termOfUsePage' class="ls-s-section ls-html-container ls-s-term-of-use">
  <div class="ls-b-container">
    <div class="ls-b-head">
      <h2 class="ls-color-green">{{termOfUsePage.title}}</h2>
    </div>
    <div [innerHTML]="termOfUsePage.description | sanitizeHtml" class="ls-b-body"> 
    </div>
    </div>
</section>