<div class="ls-b-sidebar"  *ngIf='currentUser'>
    <div class="ls-head">
        <div class="ls-user-info">
            <img src="{{ currentUser.user_profile.avatar ? currentUser.user_profile.avatar : '../../../assets/images/avatar.jpg'}} " alt="avatar">
            <span>{{currentUser.name}}</span>
         </div>
    </div>
    <div class="ls-body">
        <ul>
            <li routerLinkActive="is-active">
              <a routerLink="/account-setting">Account setting</a>
            </li>

            <li routerLinkActive="is-active">
                <a  class="icon-orders-history" routerLink="/orders-history">Orders history</a>
            </li>
            <li routerLinkActive="is-active">
                <a  class="icon-help" routerLink="/help">Help</a>
            </li>
            <li routerLinkActive="is-active">
                <a  class="icon-logout" routerLink="/logout" (click)='logoutFunc($event)'>Log out</a>
            </li>
        </ul>
    </div>
</div> 