<div class="ls-b-payment-step">
        <div class="ls-head-green">
          <h3>Your order details</h3>
        </div>
        <div class="ls-b-payment-step-content">
          <div class="ls-b-payment-step-content-inner">
            <form class="ls-form"  [formGroup]="paymentFirstStepForm" (ngSubmit)="firstStepOnSubmit()">
              <div class="ls-row-fluid">
                <div class="span-6">
                    <div class="ls-form-group">
                        <label for="fullname">Your full name (*)</label>
                        <input 
                          type="text" 
                          placeholder="Peter Ng" 
                          formControlName="fullname"
                          class="ls-form-control" 
                          [ngClass]="{ 'ls-is-invalid': firstStepSubmitted && f.fullname.errors }"
                        />
                        <div *ngIf="firstStepSubmitted && f.fullname.errors" class="ls-invalid-feedback">
                          <div *ngIf="f.fullname.errors.required">Fullname is required</div>
                        </div>
                    </div>
                    <div class="ls-form-group">
                        <label for="phone">Phone (*)</label>
                        <input 
                          type="text" 
                          placeholder="+0112345678" 
                          formControlName="phone"
                          class="ls-form-control" 
                          [ngClass]="{ 'ls-is-invalid': firstStepSubmitted && f.phone.errors }"
                        />
                        <div *ngIf="firstStepSubmitted && f.phone.errors" class="ls-invalid-feedback">
                          <div *ngIf="f.phone.errors.required">Phone is required</div>
                        </div>
                    </div>
                    <div class="ls-form-group">
                        <label for="address">Your address (*)</label>
                        <input 
                          type="text" 
                          placeholder="address..." 
                          formControlName="address"
                          class="ls-form-control" 
                          [ngClass]="{ 'ls-is-invalid': firstStepSubmitted && f.address.errors && locationError }"
                          (change) ='onSearchChange($event)'
                        />
                        <div *ngIf="firstStepSubmitted && f.address.errors" class="ls-invalid-feedback">
                          <div *ngIf="f.address.errors.required">Address is unvalid</div>
                        </div>
                        <div *ngIf='locationError' class="ls-invalid-feedback">
                          <div>Address is not exist!</div>
                        </div>
    
                    </div>
                    <div class="ls-form-group">
                        <label for="note">Note for the retailer</label>
                        <textarea  
                          type="text" 
                          cols="40" 
                          rows="3" 
                          placeholder="note..." 
                          formControlName="note"
                          class="ls-form-control" 
                          [ngClass]="{ 'ls-is-invalid': firstStepSubmitted && f.note.errors }"
                        ></textarea>
                        <div *ngIf="firstStepSubmitted && f.note.errors" class="ls-invalid-feedback">
                          <div *ngIf="f.note.errors.required">Note is required</div>
                        </div>
                    </div>
                </div>
                <div class="span-6">
                    <div class="ls-form-group">
                        <label for="deliveryTime">Delivery time</label>
                        <div class="ls-select">
                            <select formControlName="deliveryTime" [value]='currentTime'>
                              <option *ngFor='let item of deliveryTime' [value]="currentTime">
                                {{item.name}}
                              </option>
                            </select>
                          </div>
                        <div *ngIf="firstStepSubmitted && f.deliveryTime.errors" class="ls-invalid-feedback">
                          <div *ngIf="f.deliveryTime.errors.required">Delivery time is required</div>
                        </div>
                    </div>
                    <div class="ls-form-group">
                      <fieldset>
                        <input 
                        type="checkbox" 
                        formControlName="putInFrontDoor"
                        class="addonInput"
                        id='putInFrontDoor'
                        />
                        <label for="putInFrontDoor">Driver can let my food in front of my door incase I am not home</label>
                    </fieldset>
                    </div>
                    <div *ngIf='paymentPageCMS' class="ls-b-support-info">
                        <h5>{{paymentPageCMS.step1_support_info[0].title_support}}</h5>
                        <a href="tel:+ 123 456 789" class="ls-color-green">{{paymentPageCMS.step1_support_info[0].phone_support}}</a>
                        <p>{{paymentPageCMS.step1_support_info[0].working_time}}</p>
                    </div>
                    <button type="submit" class="ls-btn-submit"> Next </button>
                </div>
              </div>
      
            </form>
          </div>
        </div>
    </div>