<a *ngIf='menu' class="ls-b-menu" routerLink='menu/{{menu.id}}'>
  <img [src]="menu.image" alt="louisiane menu">
  <div class="ls-body">
    <h3>{{menu.name}}</h3>
    <p>{{menu.items}} items</p>
  </div>
</a>
