<div *ngIf='generalOptionCMS' class="ls-b-payment-wraper">
    <p>Secure payments with</p>
    <ul class="ls-b-payment">
      <li *ngFor='let item of generalOptionCMS.payment_list'>
        <a href="{{item.link}}"><img [src]="mediaUrl + item.image" alt="payment"></a>        
      </li>
      
    </ul>
    <p class="ls-copy-right" [innerHTML]='generalOptionCMS.copyright | sanitizeHtml'></p>
  </div>
