<div *ngIf='dish' class="ls-b-dish-item">
  <a class="ls-dish-img" (click)='imgClick(dish)'>
    <img src="{{dish.image}}" alt="{{dish.name}}">
  </a>
  <div class="ls-b-info">
    <div class="ls-b-info-inner">
      <div class="ls-head">
          <a (click)='addToCartFunc(dish)' class="ls-one-line">{{dish.name}}</a>
          <p>{{dish.description}}</p> 
      </div>
      <div class="ls-body">
        <a (click)='addToCartFunc(dish)' class="ls-color-green">ADD TO CART</a>
        <span class="ls-color-green pull-right">{{dish.price}}$</span>
      </div>
    </div>
  </div>
</div>