
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html{
    overflow-x: hidden !important;
  }
  body {
    font-size: 13px;      
    margin: 0;
    padding: 0;
    color: $textcolor;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    background: $background;
    @include mq('desktop'){
      font-size: 14px;
    }
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:last-child {
    margin-bottom: 0;
  }
  .ls-one-line{
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    height:1.2em;
  }
  .ls-one-line-100{
    width: 100px;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    height:1.2em;
  }
  input, textarea {
    outline: none; 
  }
  
  button {
    outline: none; 
    cursor: pointer;
  }
  

  table {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    tr {
      padding: 0;
      margin: 0;
    }
    th {
      font-style: normal;
      padding: 0;
      margin: 0;
    }
    td {
      padding: 0;
      margin: 0;
    }
  }
  .ls-head-green{
    background: #004F29;
    text-align: center;
    h3{
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      font-size: 15px;
      color: #FFFFFF;
      margin-bottom: 0;
    }
  }

  
  address {
    font-style: normal;
  }
  
  blockquote {
    margin: 0;
    padding: 0;
  }
  
  input[type='text'],
  textarea {
    outline: none;
    @include transition(0.3s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include rounded(0);
    border: none;
    height: 32px;
    font-size: 15px;
    line-height: 32px;
    padding: 0 8px;
    margin: 0;
    width: 100%;
    background: transparent;
    &.has-value {
    }
  }
  textarea {
    height: 72px;
    padding-top: 8px;
  }
  .magrin-bottom-30{
    margin-bottom: 30px !important;
  }
  input[type='submit'] {
    @include transition(0.3s);
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
    font-size: 13px;
    @include mq('desktop'){
      font-size: 14px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  
  p {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.4em;
    @include mq('desktop'){
      font-size: 14px;
    }
    &.is-small {
      font-size: 13px;
      line-height: 14px;
    }
    &.is-medium {
      font-size: 14px;
      line-height: 18px;
    }
    &.is-large {
      font-size: 20px;
      line-height: 26px;
    }
  }
  
  %clearfix {
    *zoom: 1;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  
  .clearfix {
    @extend %clearfix;
  }
  
  .ls-row-fluid {
    *zoom: 1;
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both; 
    }
    [class*="span-"] {
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      &:first-child {
        margin-left: 0 !important;  
      }
    }
    .no-gutter {
      margin-left: 0 !important;
    }
    .pull-right{
      float: right;
    }
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: 100%; 
        }
    }
  
    @include mq('tablet') {
      $default-gutter-px: 16;
      $default-screen-px: 768;
      $default-column-px: 49;
      $default-column-perc: $default-column-px / $default-screen-px;
      $default-gutter-perc: $default-gutter-px / $default-screen-px;
      $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
      @for $i from 1 through 12 {
          .span-#{$i} { 
            width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
          }
          [class*="span-"].offset-#{$i} { 
            margin-left: percentage($default-column-gutter-perc * $i) !important;
          }
          [class*="span-"].pull-right.offset-#{$i} { 
            margin-right: percentage($default-column-gutter-perc * $i) !important;
            margin-left: 0 !important;
          }
      }
      [class*="span-"],
      [class*="span-"].has-gutter {
        margin-left: percentage($default-gutter-perc);
      }
    }
  
    @include mq('desktop') {
      $default-gutter-px: 30 ;
      $default-screen-px: 1434;
      $default-column-px: 92;
      $default-column-perc: $default-column-px / $default-screen-px;
      $default-gutter-perc: $default-gutter-px / $default-screen-px;
      $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
      @for $i from 1 through 12 {
          .span-#{$i} { 
            width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
          }
          .offset-#{$i} { 
            margin-left: percentage($default-column-gutter-perc * $i) !important;
          }
          [class*="span-"].pull-right.offset-#{$i} { 
            margin-right: percentage($default-column-gutter-perc * $i) !important;
            margin-left: 0 !important;
          }
      }
      [class*="span-"],
      [class*="span-"].has-gutter {
        margin-left: percentage($default-gutter-perc);
      }
    }
  }
  
  .mobile-hide {
    display: none !important;
  }
  @include mq('tablet') {
    .mobile-hide {
      display: inherit !important;
    }
    .tablet-hide {
      display: none !important;
    }
  }
  @include mq('desktop') {
    .mobile-hide {
      display: inherit !important;
    }
    .tablet-hide {
      display: inherit !important;
    }
    .desktop-hide {
      display: none !important;
    }
  }
  
  .ls-s-section{
    z-index: 1;
    padding-top: 120px;
    padding-bottom: 220px;
    .ls-b-container { 
      position: relative;
      @extend %clearfix;
      padding-left: 12px;
      padding-right: 12px;
      @include mq('desktop') {
        max-width: 1230px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
      }  
    }
  }
  .ls-b-container {
    position: relative;
    @extend %clearfix;
    padding-left: 12px;   
    padding-right: 12px;
    @include mq('desktop') {
      max-width: 1230px;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0 auto;
    }
  }
  .pull-right{
    float: right;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 8px 0;
    padding: 0;
    line-height: 1.2em;
    font-family: 'Campton-bold', sans-serif;
  }
  
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  h2 {
    font-size: 28px;
    line-height: 34px;
  }
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
  h4, h5, h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .dd-sub-heading {
    font-size: 20px;
    line-height: 24px;
  }
  blockquote {
    font-size: 20px;
    line-height: 24px;
  }
  button {
    width: 100%;
  }
  @include mq('tablet') {
    body {
      font-size: 14px;
      line-height: 20px;
    }
    h1 {
      font-size: 40px;
      line-height: 44px;
    }
    h2 {
      font-size: 32px;
      line-height: 36px;
    }
    h3 {
      font-size: 24px;
      line-height: 28px;
    }
  
    .dd-btn {
      display: inline-block;
      min-width: 300px;
    }
  
    button {
      width: auto;
    }
  }
  
  @include mq('desktop') {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 16px;
    }
    h1 {
      font-size: 48px;
      line-height: 50px;
    }
    h2 {
      font-size: 36px;
      line-height: 40px;
    }
    h3 {
      font-size: 28px;
      line-height: 32px;
    }
  
    .dd-btn {
      min-width: 422px;
    }
  
  
    blockquote {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .gmnoprint{
    display: none;
  }
  button[type = submit]{
    cursor: pointer;
  }
  .ls-color-green{
    color: $green !important;
  }
  .ls-color-red{
    color: $red !important;
  }

.ls-b-auth-logged-in{
  height: 60px;
  z-index: 2;
  @include mq('desktop'){
    display: table !important;
  }
  float: right;
  .ls-user-info{
    position: relative;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 0;
    .ls-b-dropdown{
      display: inline-block;
      position: relative;
      padding: 10px 0;
      span{
        color: $white;
        position: relative;
        padding-right: 15px;
        cursor: pointer;
        &:after{
          @include pseudo();
          position: absolute;
          right: 0;
          top: 50%;
          width: 0; 
          height: 0; 
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid $white;
          @include transform(translate(0,-50%));
        }
      }

      ul{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        // @include transform(translate(0,100%));
        background-color: $white;
        white-space: nowrap;
        @include rounded(5px);
        overflow: hidden;
        @include opacity(0);
        @include transform(scale(0.99) translate(0,100%));
        transition: opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.694, 0, 0.335, 1);
        transition: transform 400ms cubic-bezier(0.694, 0, 0.335, 1), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end;
        transition: transform 400ms cubic-bezier(0.694, 0, 0.335, 1), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.694, 0, 0.335, 1);
        li{
          a{
            color: #696969;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            padding: 10px 40px 10px 20px;            
            border-bottom: 1px solid #CCCCCC;
            display: block;
            &:hover, &:focus{
              background: $yellow;
            }
          }
          &.is-active{
            a{
              background: $yellow;
            }
          }
        }
      }

      &:hover{
        ul{
          @include opacity(1);
          z-index: 2;
          @include transform(scale(1) translate(0,100%));
          transition: opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 300ms step-start, -webkit-transform 300ms cubic-bezier(0.8, 0, 0.55, 0.94);
          transition: transform 300ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 300ms step-start;
          transition: transform 300ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 300ms step-start, -webkit-transform 300ms cubic-bezier(0.8, 0, 0.55, 0.94);
        }
      }
    }
    
    img{

    }
  }

}
.ls-note{
  background: #FAFAFA;
  border: 1px solid #D6D6D6;
  @include rounded(5px);
  resize: none;
}
.ls-form{
  .ls-form-group{
    margin-bottom: 15px;

    label{
      color: #868E96;
    }
    input, textarea{
      &[type=text], &[type=email], &[type=number], &[type=date]{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        background: transparent;
        border-bottom: 1px solid #E5E5E5;
        padding: 5px 0;
        line-height: 17px;
        color: $textcolortitle;
        border-radius: 0 !important;
        width: 100%;
        &::placeholder{
          opacity: 0.5;
        }
      }
    }

    .ls-upload-group{
      text-align: center;
      img{
        width: 120px;
        height: 120px;
        overflow: hidden;
        object-fit: cover;
        @include rounded(50%);
        margin: 0 auto 20px;
      }
      .ls-input-file-custom{
        position: relative;
        height: 40px;
        overflow: hidden;
        display: inline-block;
        label{
          height: 40px;
          line-height: 40px;
          background-color: #F5F5F5;
          border: 1px solid #CCCCCC;
          color: #B5B5B5;
          padding: 0 15px;
          display: inline-block;
          z-index: 1;
          position: relative;
        }
        input[type=file]{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          overflow: hidden;
          width: 100%;
          cursor: pointer;
          @include opacity(0);
          z-index: 2;
        }
      }
    }

    .ls-address-info{
      padding-top: 10px;
      position: relative;
      span{
        display: block;
      }
      a{
        display: inline-block;
        position: absolute;
        right: 0;
        width: 15px;
        height: 15px;
        background-image: url(./assets/images/icon-edit.svg);
        background-size: 15px 15px;
        top: 50%;
        @include transform(translate(0, calc(-50% - -5px)));
        
      }
    }
  }
}  
//  menu
.ls-user-info{
  padding: 10px 20px;
  border-bottom: 1px solid #CCCCCC;
  img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    @include rounded(50%);
    overflow: hidden;
    border: 2px solid $white;
  }
  span{
    font-weight: 700;
    font-size: 14px;
    vertical-align: middle;
  }
}
.ls-btn-submit{
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: $green;
  border: 1px solid $green;
  @include rounded(50px);
  background-color: $yellow;
  width: 100%;
  padding: 0;
  @include transition(0.3s, ease-in-out);

  &:hover, &:focus{
    background: #f5ed92;
    @include transition(0.3s, ease-in-out);
  }
}
.form-col{
  margin-bottom: 30px;
  .span-4{
    @include mq('tablet'){
      width: 31.77083333% !important;
    }
  }
  .ls-address-info{
    padding-top: 0 !important;
  }
}
.ls-b-loading{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
  @include transform(translate(-50%, -50%));
  background: rgba(255,255,255,.5);
  .ls-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    display: flex;
    align-items: center;
    .obj {
      width: 6px;
      height: 0px;
      background: $green;
      margin: 0 3px;
      border-radius: 10px;
      @include animation(loading 0.8s infinite);
      &:nth-child(2){
        animation-delay: 0.1s;
      }
      &:nth-child(3){
        animation-delay: 0.2s;
      }
      &:nth-child(4){
        animation-delay: 0.3s;
      }
      &:nth-child(5){
        animation-delay: 0.4s;
      }
      &:nth-child(6){
        animation-delay: 0.5s;
      }
      &:nth-child(7){
        animation-delay: 0.6s;
      }
      &:nth-child(8){
        animation-delay: 0.7s;
      }
    }
  }
}
@include keyframes(loading){
  0% {
    height: 0;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 0;
  }
}

.ls-b-sidebar{
  background: $white;
  .ls-head{
    padding: 30px 0;
    text-align: center;
    .ls-user-info{
      display: inline-block;
      border-bottom: 0;
      img{
        width: 60px;
        height: 60px;
      }
      span{
        font-size: 18px;
        color: $textcolortitle;
        font-weight: 700;
      }
    }
  }
  .ls-body{
    padding: 30px 45px;
    border-top: 1px solid #E5E5E5;
    ul{
      li{
        margin-bottom: 25px; 
        a{
          font-size: 16px;
          color: $textcolor;
          padding-left: 35px;
          position: relative;
          &:before{
            @include pseudo();
            width: 14px;
            height: 16px;
            background-image: url(./assets/images/icon-account-setting.svg);
            background-repeat: no-repeat;
            background-size: 14px 16px;
            left: 0;
            top: 50%;
            @include transform(translate(0,-50%));
          }
          &.icon-orders-history{
            &:before{
              background-image: url(./assets/images/icon-orders-history.svg);
            }
          }
          &.icon-help{
            &:before{
              background-image: url(./assets/images/icon-help.svg);
            }
          }
          &.icon-logout{
            &:before{
              background-image: url(./assets/images/icon-logout.png);

            }
          }

          &:hover, &:focus{
            color: $green;
          }
        }
        &.is-active{
          a{
            color: $green;
            font-weight: 700;
          }
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

  }
}
.ls-is-invalid{
  border-bottom: 1px solid $red !important;
}
.ls-invalid-feedback{
  color: $red;
  margin-bottom: 10px;
}
#menuToggle{
  display: inline-block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  left: 12px;
  top: 50%;
  @include transform(translate(0, -50%));
  cursor: pointer;

  &.is-show{
    span{
      opacity: 1;
      transform: rotate(45deg) translate(-9px, -9px);
      background: $white;
    }
    span:nth-last-child(3){
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    span:nth-last-child(2){
      transform: rotate(-45deg) translate(-4px, 6px);
    }
  }

  span{
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 4px;
    position: relative;
    background: $white;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
    &:first-child{
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2){
      transform-origin: 0% 100%;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.ls-sns{
  display: block;
  width: 30px;
  height: 30px;
  @include rounded(50%);
  overflow: hidden;
  background-size: 100%;
  @include transition(0.3s, ease-in-out);
  &:hover, &:focus{
    @include transform(scale(1.05));
    @include transition(0.3s, ease-in-out);
  }
  &.ls-facebook{
    background-image: url(../src/assets/images/icon-fb.svg); 
  }
  &.ls-google-plus{
    background-image: url(../src/assets/images/icon-gg.svg); 
  }
}
.ls-b-sns{
  text-align: center;
  li{
    display: inline-block;
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.ls-b-app{
  text-align: center;
  li{
    margin-bottom: 2px;
    a{
      display: block;
      width: 130px;
      margin: 0 auto;
    }
  }
}
.ls-b-payment-wraper{
  p{

  }
  .ls-b-payment{
    text-align: center;
    margin-bottom: 17px;
    li{
      display: inline-block;
      margin-right: 8px;
      &:last-child{
        margin-right: 0;
      }
      a{
        display: block;
        width: 30px;
        img{
          
        }
      }
    }
  }
}
.margin-bottom-30{
  margin-bottom: 30px !important;

}
.text-align-left{
  text-align: left !important;
}
.ls-datatable{
  overflow-x: auto;
  @include mq('desktop'){
    overflow: inherit;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 700px;

    thead{
      tr{
        text-align: center;
        th{
          border-top: 1px solid #E5E5E5;
          color: #868E96;
          padding: 5px 10px 5px 0;
        }
      }
     
    }
    tbody{
      tr{
        text-align: center;
        td{
          border-top: 1px solid #E5E5E5;
          padding: 20px 5px;
          &:first-child{
            border-left: 1px solid #E5E5E5;
          }
          &:last-child{
            border-right: 1px solid #E5E5E5;
          }
          &:nth-child(2){
            max-width: 180px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &:last-child{
          td{
            border-bottom: 1px solid #E5E5E5;
          }
        }
      }
     
    }
  }
}

.ls-b-search-form{
  .ls-b-search-form-inner{
    text-align: center;
    form{
      position: relative;
      display: inline-block;
      width: 100%;
      max-width: 570px;
      input{
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: $white;
        @include rounded(100px);
        height: 40px;
        line-height: 40px;
        text-indent: 15px;
        width: 100%;
      }
      button{
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 0;
        width: 32px;
        height: 32px;
        @include rounded(50%);
        background-color: $green;
        background-image: url(./assets/images/icon-search.svg);
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 4px;
        top: 50%;
        @include transition(0.3s, ease-in-out);
        @include transform(translate(0,-50%));
        @include mq('desktop'){
          @include rounded(100px);
          width: 90px;
        }
      }
    }
  }
}

.ls-b-menu{
  display: inline-block;
  height: 225px;
  width: 100%;
  position: relative;
  &::before{
    @include pseudo();
    top: 12px;
    right: 12px;
    bottom: 12px;
    left: 12px;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
    @include transition(0.3s, ease-in-out);
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .ls-body{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 12px;
    padding: 0 25px;
    @include transform(translate(0,-50%));
    h3{
      color: $white;
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 0;
    }
    p{
      color: $white;
    }
  }
  &:hover{
    &::before{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include transition(0.3s, ease-in-out);
    }
  }
}
.ls-b-dish-item{
  border: 1px solid #DEDEDE;
  background-color: $white;
  a{
    &.ls-dish-img{
      display: block;
      cursor: pointer;
      height: 200px;
      width: 100%; 
      margin-bottom: 15px; 
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
  .ls-b-info{
    padding-bottom: 20px;
    .ls-b-info-inner{
      padding-left: 15px;
      padding-right: 15px;  
      .ls-head{
        margin-bottom: 20px;
        a{
          font-size: 18px;
          line-height: 26px;
          font-weight: 700;
          color: $textcolortitle;
          overflow:hidden;
          white-space:nowrap;
          -ms-text-overflow:ellipsis;
          text-overflow:ellipsis;
          display: block;
          margin-bottom: 5px;
          cursor: pointer;
        }
        p{
          margin-bottom: 0;
          word-wrap: break-word;
          height: 38px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 19px;     /* fallback */
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }
      .ls-body{
        a{
          font-size: 18px;
          line-height: 22px;
          font-weight: 700;
          cursor: pointer;
        }
        span{
          font-size: 18px;
          line-height: 22px;
          font-weight: 700;
        }
      }
    }
  }
}
.ls-b-news-item{
  border: 1px solid #DEDEDE;
  background-color: $white;
  a{
    &.ls-news-img{
      display: block;
      cursor: pointer;
      height: 200px;
      width: 100%; 
      margin-bottom: 15px; 
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
  .ls-b-info{
    padding-bottom: 20px;
    .ls-b-info-inner{
      padding-left: 15px;
      padding-right: 15px;  
      .ls-head{
        margin-bottom: 20px;
        a{
          font-size: 18px;
          line-height: 26px;
          font-weight: 700;
          color: $textcolortitle;
          overflow:hidden;
          white-space:nowrap;
          -ms-text-overflow:ellipsis;
          text-overflow:ellipsis;
          display: block;
          margin-bottom: 5px;
          cursor: pointer;
        }
      }
      .ls-body{
        span{
          font-size: 18px;
          line-height: 22px;
          font-weight: 700;
        }
      }
    }
  }
}
.ls-b-order-detail-chose{
  .ls-delete-dish{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    @include rounded(50%);
    position: relative;
    background: $red;
    top: 3px;
    &::before{
      @include pseudo();
      width: 10px;
      height: 2px;
      left: 50%;
      top: 50%;
      background-color: $white;
      @include transform(translate(-50%,-50%));
    }
  }
  .ls-content{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 70px);
    padding: 0 10px;
    h4{
      font-size: 18px;
      line-height: 26px;
      color: $textcolortitle;
      margin-bottom: 0;
    }
    ul{
      margin-bottom: 5px;
      li{
        display: inline-block;
        padding-right: 4px;
        margin-right: 4px;
        position: relative;
        font-size: 13px;
        color: #868E96;
        &:after{
          @include pseudo();
          position: absolute;
          right: 0;
          top: 50%;
          width: 2px;
          height: 2px;
          @include rounded(50%);
          background: #868E96;
          @include transform(translate(50%, -50%));
      }
      &:last-child{
          padding-right: 0;
          margin-right: 0;
          &:after{
              display: none;
          }
      }
      }
    }
    input{
      margin-bottom: 5px;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      border: 0;
      border-bottom: 1px solid #DEDEDE;
      padding: 0;
    }
    .ls-number-dish{
      height: 20px;
      line-height: 20px;
      background-color: #94C83D;
      display: inline-block;
      @include rounded(20px);
      .ls-minus{
        display: inline-block;
        width: 20px;
        height: 20px;
        @include rounded(50%);
        position: relative;
        background: #94C83D;
        cursor: pointer;
        &::before{
          @include pseudo();
          width: 10px;
          height: 2px;
          left: 50%;
          top: 50%;
          background-color: $white;
          @include transform(translate(-50%,-50%));
        }
      }
      span{
        color: $white;
        font-size: 12px;
        padding: 0 8px;
        display: inline-block;
        vertical-align: top;
        height: 20px;
      }
      .ls-plus{
        display: inline-block;
        width: 20px;
        height: 20px;
        @include rounded(50%);
        position: relative;
        background: #94C83D;
        cursor: pointer;
        &::before{
          @include pseudo();
          width: 10px;
          height: 2px;
          left: 50%;
          top: 50%;
          background-color: $white;
          @include transform(translate(-50%,-50%));
        }
        &::after{
          @include pseudo();
          width: 2px;
          height: 10px;
          left: 50%;
          top: 50%;
          background-color: $white;
          @include transform(translate(-50%,-50%));
        }
      }
    }
  }
  .ls-price{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    font-size: 12px;
    color: black;
    text-align: right;
  }
}

fieldset {
	width: 100%;
  text-align: left;
  border: 0;
  width: auto;
  display: inline-block;
  padding:0;
  input[type=radio], input[type=checkbox] {
    display: none;
    +label {
      position: relative; 
      cursor: pointer;
      display: inline-block;
      user-select: none;
      padding-left: 30px;
      &::before {
        transition: all 250ms cubic-bezier(.4,.25,.3,1);
        @include pseudo();
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $green;
        top: 50%;
        left: 10px;

        @include transform(translate(0,-50%));
      }
      
      &::after {
        transition: all 250ms cubic-bezier(.4,.25,.3,1);
        @include pseudo();
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $green;
        background:  transparent;
        top: 50%;
        left: 0;
        @include transform(translate(0,-50%));
      }
    }
    &:checked + label{
      &::before {
        left: 3px;
        width: 14px;
        height: 14px;
      }

    }
  }
}

.ls-b-option{
  .ls-b-option-inner{
    .ls-head{
      padding-bottom: 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid #CCCCCC;
      h5{
        display: inline-block;
        font-size: 16px;
        margin-bottom: 0;
      }
      span{

      }
    }
    .ls-body{
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #CCCCCC;
    }
  }
}
.ls-b-support-info{
  padding: 8px 40px 8px 100px;
  position: relative;
  border: 1px solid #CCCCCC;
  @include rounded(5px);
  h5{
    color: #636363;
    font-size: 16px;
    margin-bottom: 0;
  }
  a{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
  p{
    font-size: 12px;
    margin-bottom: 0;
  }
  &::before{
    @include pseudo();
    width: 46px;
    height: 46px;
    background-image: url(./assets/images/icon-support.svg);
    background-size: 46px 46px;
    left: 50px;
    top: 50%;
    @include transform(translate(-50%,-50%)); 
  }
}
.ls-select {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 3;
  background: transparent;
  border: 1px solid #D6D6D6;
  overflow: hidden;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    border: 1px solid #D6D6D6;
    background-image: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 40px;
    cursor: pointer;
    &::-ms-expand{
      display: none;
    }
  }
  &::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: transparent;
  
    pointer-events: none;    
  }
  &:hover::after{
    color: $green;;
  }
  &::after{
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  &::before{
    @include pseudo();
    width: 18px;
    height: 18px;
    background: url(./assets/images/icon-oclock.svg) no-repeat;
    background-size: 18px 18px;
    top: 50%;
    left: 20px;
    @include transform(translate(-50%,-50%));
    pointer-events: none;    
  }

}

.ls-b-hero-payment{
  padding-top: 70px;
  padding-bottom: 70px;
  background-size: cover;
  @include mq('desktop'){
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1170px;
    margin: 0 auto;
  }
  .ls-b-hero-payment-inner{
    padding-left: 20px;
    padding-right: 20px;
   
   
    h3{
      color: $white;
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 22px;
      @include mq('desktop'){
        font-size: 32px;
      }
    }
    ul{
      position: relative;
      li{
        display: inline-block;
        width: 33.33%;
        z-index: 2;
        position: relative;
        p{
          color: $white;
          font-size: 14px;
          font-weight: 700;
          text-align: center;
          margin-bottom: 10px;
          @include mq('desktop'){
            font-size: 18px;
          }
        }
        span{
          display: block;
          width: 38px;
          height: 38px;
          @include rounded(50%);
          border: 2px solid $green;
          background:  $yellow;
          z-index: 2;
          position: relative;
          margin: 0 auto;
          &::before{
            @include pseudo();
            width: 14px;
            height: 8px;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%) rotate(135deg));
            border-top: 3px solid $green;
            border-right: 3px solid $green;
            display: none;
          }
        }
        &.is-active{
          span{
            &::before{
              display: block;
            }
          }
        }
      }
      &::before{
        @include pseudo();
        height: 5px;
        z-index: 1;
        left: 17%;
        right: 17%;
        bottom: 15px;
        background-color: $yellow;
        @include transform(translate(0,-50%));
      }
    }
  }
}
.ls-b-payment-step{
  background: $white;
  .ls-b-payment-step-content{
    padding-top: 30px; 
    padding-bottom: 30px; 
    .ls-b-payment-step-content-inner{
      padding-left: 30px; 
      padding-right: 30px; 
      .ls-b-support-info{
        margin-bottom: 20px; 
        @include mq('desktop'){
          margin-bottom: 90px; 
        }
      }
    }

  }
}

.ls-s-account-setting{
  .ls-invalid-feedback {
    margin-bottom: 0;
    padding-top: 5px;
  }
}
.ls-no-item{
  padding: 50px 20px;
  background-color: $white;
  text-align: center;
}

// check out form
form.checkout {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;

  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: coral;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

form.checkout button:active {
  background: rgb(165, 76, 43);
}
.StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.is-disable{
  position: relative;
  &::before{
    @include pseudo();
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(255,255,255,.4);
  }
}
.ls-s-payment-page{
  .ls-b-order-info{
    .ls-btn-submit{
      display: none;
    }
  }
}

@include keyframes('placeHolderShimmer') {
  0%{
    background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.ls-b-loaddings{
  .span-4{
    margin-bottom: 35px;
    &:last-child{
      margin-bottom: 0;
    }
    .ls-loading-image{
      height: 225px;
      @extend .animated-background;
      background: #F6F6F6;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      .ls-b-text{
        position: absolute;
        left: 12px;
        right: 12px;
        top: 50%;
        @include transform(translate(0,-50%));
       
        .ls-text{
          @extend .animated-background;
          height: 40px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
          background-color: $white;
          background: linear-gradient(to right, $white 8%, #F0F0F0 18%, $white 33%);
          &:last-child{
            margin-bottom: 0;
            height: 18px;
          }
        }
      }

    }

    @include mq('tablet') {
      width: 31.77083333%;
      margin-left: 2.08333333%;
      margin-bottom: 20px;
      &:nth-child(3n + 1){
        margin-left: 0;
      }
    }
  }
}
.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 800px 104px;
  position: relative;
}
.ls-b-dish-loaddings{
  .ls-b-item{
    height: 340px;
    background-color: white;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 30px;
    }
    .ls-loading-image{
      height: 200px;
      margin-bottom: 15px;
      @extend .animated-background;
      background-color: #F6F6F6;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      background-size: 800px 104px;

    }
    .ls-b-text{
      width: calc(100% - 24px);
      margin: 0 auto;
      .ls-text{
        height: 20px;
        @extend .animated-background;
        animation-duration: 1.25s;
        background-color: #f9f9f9;
        margin-bottom: 5px;
        background: linear-gradient(to right, #f9f9f9 8%, #F0F0F0 18%, #f9f9f9 33%);    
        background-size: 800px 104px;

        &:nth-child(2){
          height: 38px;
          margin-bottom: 20px;
        }
        &::last-child{
          margin-bottom: 0;
        }
      }
    }

    @include mq('desktop') {
      width: 48.4309623425%;
      display: inline-block;
      &:nth-child(2n) {
        margin-left: 3.138075315%;
      }
    }
    
  }
}
.ls-b-sidebar-news{
  .ls-b-news-item{
    margin-bottom: 30px;
  }
}