$break-points: (
  "phone": 320px,
  "phone-wide": 375px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1280px,
  "desktop-wide": 1720px
);

$green: #004F29; 
$background: #f9f9f9; 
$white: #FFFFFF;
$textcolor: #696969;
$textcolortitle: #383838; 
$red: #F72828;
$yellow: #FFF799;