@import './variables';
@import './mixins';
@import './common';

header{
    background: $green;
    height: 54px;
    display: table;
    width: 100%;
    position: relative;
    .ls-b-container{
        display: table-cell;
        vertical-align: middle;
        text-align: center;  
        .ls-logo{
            display: inline-block;
            height: 39px;
            z-index: 3;
            img{
                height: 100%;
            }
        }  
    }
    .ls-b-nav-mobile{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $white;
        z-index: -1;
        @include opacity(0);
        @include transform(scale(0.98) translate(0,100%));
        -webkit-transition: opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.694, 0, 0.335, 1);
        transition: opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.694, 0, 0.335, 1);
        -o-transition: transform 400ms cubic-bezier(0.694, 0, 0.335, 1), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end;
        transition: transform 400ms cubic-bezier(0.694, 0, 0.335, 1), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end;
        transition: transform 400ms cubic-bezier(0.694, 0, 0.335, 1), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.694, 0, 0.335, 1);
        ul{
            li{
                a{
                    color: $textcolor;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 10px 20px;
                    border-bottom: 1px solid #CCCCCC;
                    display: block;
                }
                &.is-active{
                    a{
                        color: $green;
                    }
                }
                &::last-child{
                    a{
                        border-bottom: 0;
                    }
                }
            }
        }
        &.is-open{
            z-index: 2;
            @include transform(scale(1) translate(0,100%));
            @include opacity(1);
            -webkit-transition: opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
            transition: opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
            -o-transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start;
            transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start;
            transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
        }
    }
 }
footer{
    background-color: $white;
    padding: 35px 0 80px;
    .ls-b-container{
        .ls-b-head{
        }
        .ls-b-body{
            margin-bottom: 35px;
            a{
                img{
                    width: 150px;
                    margin: 0 auto;
                    display: block;    
                    margin-bottom: 40px;
                }
            }
            ul{
                text-align: center;
                li{
                    display: inline-block;
                    margin-right: 20px;
                    line-height: 1.7em;
                    a{
                        font-size: 12px;
                        color: $textcolor;
                        padding-bottom: 4px;
                        @include transition(0.3s, ease-in-out);
                        position: relative;
                        &:before{
                            @include pseudo();
                            bottom: 0;
                            width: 0;
                            height: 2px;
                            @include rounded(2px);
                            background-color: $green;
                            left: 50%;
                            @include transform(translate(-50%, 0));
                        }
                        &:hover, &:focus{
                            color: $green;
                            &:before{
                                width: 100%;
                                @include transition(0.3s, ease-in-out);
                            }
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    &.is-active{
                        a{
                            color: $green;
                            &:before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .ls-b-foot{
            p{
                text-align: center;
                margin-bottom: 5px;
            }
            .ls-b-app{
                margin-bottom: 25px;
            }
            .ls-b-sns{
                margin-bottom: 10px;
            }
            
        }
    }
} 
.ls-coming-soon{
     background-size: cover;
     background-position: center center;  
     height: calc(100vh - 54px);
     position: relative;
     display: table;
     width: 100%;
     padding-top: 0;
     padding-bottom: 0;
     .ls-b-container{
         position: relative;
         z-index: 2;
         color: $white;
         display: table-cell;
         vertical-align: middle;
         img{
             height: 60px;
             margin: 0 auto 20px;
         }
         h2{
            font-size: 37px;
            line-height: 1.2em;
            text-align: center;
            text-transform: uppercase;
            max-width: 605px;
            margin: 0 auto 15px;
            @include mq('phone-wide'){
                font-size: 40px;
            }
            @include mq('tablet'){
                font-size: 45px;
            }
            @include mq('desktop'){
                font-size: 52px;
            }
         }
         p{
            text-align: center;
            font-size: 16px;
            line-height: 1.2em;
            max-width: 260px;           
            margin: 0 auto;
         }
     }
     &:before{
        @include pseudo();
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        background-color: rgba(0,0,0,.3);
     }
}
.ls-s-hero{
    background-size: cover;
    background-position: center center;  
    height: 600px;
    position: relative;
    display: table;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    .ls-b-container{
        position: relative;
        z-index: 2;
        color: $white;
        display: table-cell;
        vertical-align: middle; 
        h2{
           font-size: 37px;
           line-height: 1.2em;
           text-align: center;
           text-transform: uppercase;
           max-width: 770px;
           margin: 0 auto 15px;
           @include mq('phone-wide'){
               font-size: 40px;
           }
           @include mq('tablet'){
               font-size: 45px;
           }
           @include mq('desktop'){
               font-size: 52px;
           }
        }
        p{
           text-align: center;
           font-size: 16px;
           max-width: 770px;
           line-height: 1.2em;
           margin: 0 auto 25px;
        }
    }
    &:before{
       @include pseudo();
       left: 0;
       right: 0;
       bottom: 0;
       top: 0;
       z-index: 1;
       background-color: rgba(0,0,0,.3);
    }
}
.ls-s-login{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    padding-top: 120px;
    padding-bottom: 120px; 
    @include mq('desktop'){
        background-size: 100% 150%;    
    }
    .ls-b-container{
        .ls-form-wrapper{
            background-color: $white;
            max-width: 565px;
            margin: 0 auto;
            position: relative;
            .ls-b-head{
                padding: 12px 0;
                background-color: $green;
                text-align: center;
                margin-bottom: 60px;
                h3{
                    text-transform: uppercase;
                    font-size: 15px;
                    line-height: 18px;
                    color: $white;
                }
            }
            .ls-b-body{
                padding: 0 30px 0;
                max-width: 370px;
                margin: 0 auto;
                .ls-head{
                    margin-bottom: 50px;
                    img{
                        width: 130px;
                        margin: 0 auto;
                    }
                }
                .ls-body{
                    padding-bottom: 60px;
                   form{
                       label{
                            font-weight: 700;
                            font-size: 16px;
                            color: $textcolortitle;
                            margin-bottom: 32px;                      
                       }
                       input{
                           &.ls-form-control{
                                border-bottom: 1px solid $green;
                                font-size: 14px;
                                padding: 0;
                                margin-bottom: 5px;
                           }
                       }
                       p{
                           margin-bottom: 30px;
                           line-height: 1.5em;
                           &.ls-resend-sms{
                                text-align: center;
                                margin-bottom: 15px;
                                text-decoration: underline;
                                a{
                                    color: $green;
                                }
                           }
                       }
                       button{
                           &.ls-submit-input-sms-code{
                               margin: 20px 0;
                           }   
                       }
                   } 
                }
            }
        }

    }
}
.ls-s-register{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    padding-top: 120px;
    padding-bottom: 120px; 
    @include mq('desktop'){
        background-size: 100% 150%;    
    }
    .ls-b-container{
        .ls-form-wrapper{
            background-color: $white;
            max-width: 565px;
            margin: 0 auto;
            position: relative;
            .ls-b-head{
                padding: 12px 0;
                background-color: $green;
                text-align: center;
                margin-bottom: 60px;
                h3{
                    text-transform: uppercase;
                    font-size: 15px;
                    line-height: 18px;
                    color: $white;
                }
            }
            .ls-b-body{
                padding: 0 30px 0;
                max-width: 370px;
                margin: 0 auto;
                .ls-head{
                    margin-bottom: 50px;
                    img{
                        width: 130px;
                        margin: 0 auto;
                    }
                }
                .ls-body{
                    padding-bottom: 60px;
                   form{
                       label{
                            font-weight: 700;
                            font-size: 16px;
                            color: $textcolortitle;
                            margin-bottom: 32px;                      
                       }
                       input{
                           &.ls-form-control{
                                border-bottom: 1px solid $green;
                                font-size: 14px;
                                padding: 0;
                                margin-bottom: 10px;
                           }
                       }
                       p{
                           margin-bottom: 30px;
                           line-height: 1.5em;
                           &.ls-resend-sms{
                                text-align: center;
                                margin-bottom: 15px;
                                text-decoration: underline;
                                a{
                                    color: $green;
                                }
                           }
                       }
                       button{
                           &.ls-submit-input-sms-code{
                               margin: 20px 0;
                           }   
                       }
                   } 
                }
            }
        }

    }
}
.ls-s-contact-us{
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #f9f9f9; 
    .ls-b-container{
        padding-left: 35px;
        padding-right: 35px;
        max-width: 770px;
        margin: 0 auto;
        .ls-b-body{
            margin-bottom: 60px;
            h3{
                font-size: 22px;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .ls-info{
                margin-bottom: 15px;
                h5{
                    font-size: 15px;
                    color: $textcolortitle;
                    margin-bottom: 0;
                    line-height: 1.3em;
                }
            }
            p{
                font-size: 13px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        
    }
}
.ls-html-container{
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #f9f9f9;
    .ls-b-container{
        padding-left: 35px;
        padding-right: 35px;
        max-width: 770px;
        margin: 0 auto;
        .ls-b-head{
            margin-bottom: 40px;
            h2{
                font-size: 24px;
                text-transform: uppercase;
            }
        }
        .ls-b-body{
            h5{
                color: $textcolortitle;
                margin-bottom: 15px;
                font-size: 15px;
            }
            p{
                margin-bottom: 15px;
            }
            ul{
                margin-bottom: 15px;
                li{
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.ls-s-404{
    background-color: #f9f9f9;
    padding-bottom: 120px;
    .ls-b-container{
        .ls-b-body{
            max-width: 770px;
            margin: 0 auto;    
        }
        .ls-b-foot{
            text-align: center;
            h3{
                color: $textcolortitle;
                font-size: 24px;
                margin-bottom: 0;
            }
            
        }
    }
}
.ls-s-user-info{
    padding: 50px 0;
    background-color: #f9f9f9;
    .ls-b-container{
        .ls-b-head{
            border: 1px solid #DEDEDE;
            margin-bottom: 30px;
        }
        .ls-b-body{
            border: 1px solid #DEDEDE;
            background-color: $white; 
            .ls-b-body-inner{
                padding: 50px 30px;

                .ls-head{
                    margin-bottom: 15px;
                    text-align: center;
                    h2{
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.ls-s-help{
    min-height: calc(100vh - 310px);
    .ls-b-body{
        background: $white;
        border: 1px solid #E5E5E5;
        float: right;
        margin-bottom: 25px;
        overflow: hidden;
        word-break: break-word;
        .ls-head{
            background-color: $green; 
            h5{
                font-size: 16px;
                color: $white;
                text-align: center;
                height: 40px;
                line-height: 40px;
            }
        }
        .ls-body{
            padding: 20px 20px 0 15px;
            p{
                margin-bottom: 0;
                padding-bottom: 15px;
                border-bottom: 1px solid #E5E5E5;
            }
        }
        .ls-foot{
            padding: 20px;
            a{
                color: $red;
                display: block;
                position: relative;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 8px;
                padding-left: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
                &:before{
                    @include pseudo();
                    width: 15px;
                    height: 15px;
                    background-image: url(./assets/images/icon-headphones.svg);
                    background-size: 15px 15px;
                    left: 0;
                    top: 50%;
                    @include transform(translate(0,-50%));
                }
                &.ls-icon-email{
                    &:before{
                        background-image: url(./assets/images/icon-discuss-issue.svg);
                    }
                }

            }
        }
    }
}
.ls-s-menu{
    background-color: $white;
    padding: 120px 0;
    .ls-b-container{
        .ls-b-head{
            margin-bottom: 80px;
            text-align: center;
            h2{
                text-transform: uppercase;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 0;
                color: $green;
            }
        }
        .ls-b-body{
            .span-4{
                margin-bottom: 35px;
            }
        }
    }
}
.ls-s-news{
    background-color: $background;
    padding: 80px 0;
    .ls-b-container{
        .ls-b-body{
            .span-4{
                margin-bottom: 30px;
                @include mq('tablet'){
                    margin-left: 2.08333333%;
                    width: 31.77083333%;
                }
                &:nth-child(3n + 1){
                    margin-left: 0;
                }
            }
        }
    }
}
.ls-s-how-to-order{
    padding: 120px 0;
    background: $background;
    .ls-b-container{
        .ls-b-head{
            margin-bottom: 80px;
            text-align: center;
            h2{
                text-transform: uppercase;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 0;
                color: #004F29;
            }
            p{

            }
        }
        .ls-b-body{
            .ls-info-item{
                border: 1px solid #DEDEDE;
                @include rounded(10px);
                text-align: center;
                padding: 55px 35px;
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
                img{
                    width: 115px;
                    margin: 0 auto 35px;
                }
                h5{
                    font-size: 16px;
                    line-height: 19px;
                    color: $textcolortitle;
                    margin-bottom: 4px;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}

.ls-s-download-info{
    padding-top: 80px;
    padding-bottom: 30px;
    background: $background;
    .ls-b-container{
        .ls-b-body{
            margin-bottom: 50px;
            .ls-head{
                margin-bottom: 25px;
                p{
                    font-size: 24px;
                    line-height: 29px;
                    color: $textcolortitle;
                }
                h2{
                    font-size: 42px;
                    line-height: 1.2em;

                    @include mq('desktop'){
                        font-size: 48px;
                        line-height: 1.2em;
                    }
                }
            }
            .ls-body{
                margin-bottom: 15px;
                p{
                    font-size: 16px;
                }
            }
            .ls-foot{
                ul{
                    li{
                        display: inline-block;
                        width: 48%;
                        max-width: 170px;
                        a{
                            img{

                            }
                        }
                        &:last-child{
                            margin-left: 4%;
                            @include mq('desktop'){
                                margin-left: 10px;
                            }
                        }
                    }
                }
                
            }
            &:last-child{
                margin-bottom: 0;

                img{

                }
            }
        }
    }
}

.ls-s-hero-subpage{
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: cover;
    .ls-b-container{
        padding-left: 12px;
        padding-right: 12px;
        .ls-b-body{
            background-color: rgba(0,0,0,.4);
            padding: 46px 15px;
            height: 100%;
            @include mq('desktop'){
                padding: 46px 25px;
                max-width: 770px;
            }
            h2{
                color: $white;
                font-size: 42px;
                line-height: 50px;
                margin-bottom: 10px;
            }
            p{
                color: $white;
                font-size: 16px;
            }
            ul{
                li{
                    color: $white;
                    font-size: 16px;
                    padding-right: 6px;
                    margin-right: 6px;
                    position: relative;
                    display: inline-block;
                    &:after{
                        @include pseudo();
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 2px;
                        height: 2px;
                        @include rounded(50%);
                        background: $white;
                        @include transform(translate(50%, -50%));
                    }
                    &:last-child{
                        padding-right: 0;
                        margin-right: 0;
                        &:after{
                            display: none;
                        }
                    }
                    
                }
            }
        }
    }
}

.ls-s-dishs-list{
    background-color: $background;
    padding-top: 30px;
    padding-bottom: 80px;
    .ls-b-container{
        padding-left: 12px;
        padding-right: 12px;
        .ls-b-head{
            position: relative;
            margin-bottom: 30px;
            @include mq('tablet'){
                display: inline-block;
                min-width: 300px;
            }
            a{
                &.ls-current{
                    display: block;
                    font-size: 18px;
                    line-height: 26px;
                    color: $green;
                    @include rounded(50px);
                    border: 1px solid $green;
                    height: 40px;
                    line-height: 40px;
                    position: relative;
                    padding-left: 20px;
                    padding-right: 35px;
                    font-weight: 700;
                    cursor: pointer;
                    &::after{
                        @include pseudo();
                        top: 50%;
                        right: 15px;
                        width: 8px;
                        height: 8px;
                        border-top: 2px solid $green;
                        border-right: 2px solid $green;
                        @include transform(translate(0, -50%)  rotate(135deg));
                    }
                }
            }
            ul{
                position: absolute;
                background-color: $white;
                width: calc(100% - 35px);
                left: 50%;
                @include transform(translate(-50%, 0));
                max-height: 300px;
                overflow-y: auto;
                li{
                    border-bottom: 1px solid #CCCCCC;
                    a{
                        display: block;
                        padding: 10px 20px;
                        color: $textcolor;
                        @include transition(0.3, ease-in-out);
                        &:hover, &:focus{
                            background-color: $yellow;
                            @include transition(0.3, ease-in-out);
                        }
                    }
                }
            }
        }
        .ls-b-body{
            .span-8{
                .ls-dish{
                    margin-bottom: 30px;
                }
                @include mq('desktop'){
                    .ls-dish{
                        width: 48.4309623425%;
                        display: inline-block;
                        &:nth-child(2n){
                            margin-left: 3.138075315%;
                        }
                    }
                }
    
            }
        }

    }
}

.ls-b-order-info{
    background-color: $white;
    padding-bottom: 25px;
    .ls-b-order-info-inner{
        .ls-b-order-info-head{
            background: $green;
            text-align: center;
            h3{
                height: 40px;
                line-height: 40px;    
                text-transform:  uppercase;
                font-size: 15px;
                color: $white;
                margin-bottom: 0;
            }
        }
        .ls-b-order-info-body{
            padding-top: 30px;
            padding-left: 10px;
            padding-right: 10px;
            @include mq('desktop'){
                padding-left: 18px;
                padding-right: 18px;
            }
            .ls-body{
                .ls-item{
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #CCCCCC;
                    &:last-child{
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }
            .ls-foot{
                padding-top: 40px;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid #CCCCCC;
                ul{
                    li{
                        font-size: 14px;
                        color: #787878;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .ls-b-order-info-foot{
            padding-left: 10px;
            padding-right: 10px;
            @include mq('desktop'){
                padding-left: 18px;
                padding-right: 18px;
            }
            .ls-total{
                margin-bottom: 20px;
                span{
                    font-size: 18px;
                    font-weight: 700;
                    color: black;
                }
            }

        }
    }
}

.ls-s-options-of-dish{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    padding-top: 54px;
    padding-bottom: 40px;
    overflow-y: auto;
    z-index: 10;
    .ls-b-container{
        background-color: $white;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 570px;
        margin: 0 auto;
        .ls-b-head{
            margin-bottom: 25px;
            img{
                display: inline-block;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                object-fit: cover;
                @include mq('desktop'){
                    width: 80px;
                    height: 80px;
                }
            }
            aside{
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 50px);
                padding: 0 10px;
                @include mq('desktop'){
                    width: calc(100% - 80px);
                }
                h4{
                    font-size: 16px;
                    margin-bottom: 0;
                    line-height: 1.2em;    
                    @include mq('desktop'){
                        font-size: 24px;
                        margin-bottom: 5px;
                    }            
                }
                p{
                    margin-bottom: 0;
                    line-height: 1.2em;     

                }
            }
        }
        .ls-b-body{
            margin-bottom: 40px;
            .ls-item{
                margin-bottom: 40px;

            }
        }
        .ls-b-foot{
            line-height: 40px;
            .ls-number-dish{
                height: 20px;
                line-height: 20px;
                background-color: #94C83D;
                display: inline-block;
                vertical-align: middle;
                @include rounded(20px);
                cursor: pointer;
                .ls-minus{
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  @include rounded(50%);
                  position: relative;
                  background: #94C83D;
                  &::before{
                    @include pseudo();
                    width: 10px;
                    height: 2px;
                    left: 50%;
                    top: 50%;
                    background-color: $white;
                    @include transform(translate(-50%,-50%));
                  }
                }
                span{
                  color: $white;
                  font-size: 12px;
                  padding: 0 8px;
                  display: inline-block;
                  vertical-align: top;
                  height: 20px;
                }
                .ls-plus{
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  @include rounded(50%);
                  position: relative;
                  background: #94C83D;
                  cursor: pointer;
                  &::before{
                    @include pseudo();
                    width: 10px;
                    height: 2px;
                    left: 50%;
                    top: 50%;
                    background-color: $white;
                    @include transform(translate(-50%,-50%));
                  }
                  &::after{
                    @include pseudo();
                    width: 2px;
                    height: 10px;
                    left: 50%;
                    top: 50%;
                    background-color: $white;
                    @include transform(translate(-50%,-50%));
                  }
                }
              }
            .ls-total-price{
                display: inline-block;
                vertical-align: middle;

                a{
                    padding: 0 10px;
                }
            }  
        }
    }
}
.ls-s-dish-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    padding-top: 54px;
    padding-bottom: 40px;
    overflow-y: auto;
    z-index: 10;
    .ls-b-container{
        background-color: $white;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 900px;
        margin: 0 auto;
        overflow-y: auto;
        .ls-b-head{
            margin-bottom: 25px;
            img{
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                height: auto;
                object-fit: cover;
                margin-bottom: 20px;
            }
            aside{
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 50px);
                padding: 0 10px;
                @include mq('desktop'){
                    width: calc(100% - 80px);
                }
                h4{
                    font-size: 16px;
                    margin-bottom: 0;
                    line-height: 1.2em;    
                    @include mq('desktop'){
                        font-size: 24px;
                        margin-bottom: 5px;
                    }            
                }
                p{
                    margin-bottom: 0;
                    line-height: 1.2em;     

                }
            }
        }

    }
}

.ls-s-payment-page{
    background-color: $background;
    padding-top: 0;
    padding-top: 25px;
    padding-bottom: 120px;
    .ls-b-container{
        .ls-b-body{
            
        }
    }
}

.ls-step-2{
    .ls-b-payment-step-content{
        .ls-b-payment-step-content-inner{
            fieldset{
                width: 100%;
                margin: 0 0 15px;

                label{
                    width: 100%;
                    display: block;
                    padding: 8px 34px;
                    background-color: #E0E0E0;
                    @include rounded(5px);
                    &::before{
                        z-index: 2;
                        left: 17px;
                        @include transform(translate(-50%, -50%));
                    }
                   
                    &::after{
                        z-index: 1;
                        width: 14px;
                        height: 14px;
                        background-color: $white;
                        left: 17px;
                        @include transform(translate(-50%, -50%));
                    }
                }
                input[type=checkbox],  input[type=radio]{
                    &:checked + label::before{
                        width: 10px;
                        height: 10px;
                        left: 17px;
                        @include transform(translate(-50%, -50%));
                    }
                }
            }   
            h5{
                font-size: 13px;
            }
            .ls-payment-bank{
                margin-bottom: 30px;
                li{
                    display: inline-block;
                    width: 31.93863319%;
                    margin-left: 2.09205021%;
                    img{
                        width: 100%;
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
            .ls-o-wallet-payment{
                li{
                    margin-bottom: 15px;
                    span{
                        &:last-child{
                            color: black;
                        }
                    }
                }
            }
            button{
                max-width: 120px;
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
}
.ls-step-3{
    .ls-b-payment-step-content{
        .ls-b-payment-step-content-inner{
            text-align: center;
            padding: 50px 23px;
            img{
                margin: 0 auto 15px;
            }
            h3{
                font-size: 32px;
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 0;
                margin: 0 auto;
                max-width: 370px;
            }
        }
    }
}

.ls-s-news-detail-page{
    padding: 80px 0;
    .ls-b-container{
        .ls-b-body{
            .span-8{
                .ls-head{
                    margin-bottom: 30px;
                    img{
                        margin-bottom: 25px;
                        width: 100%;
                    }
                }
                .ls-body{
                    
                }
            }
            .span-4{
                
            }
        }
    }
}
 @include mq('tablet'){
    footer{
        padding: 35px 0 30px;
        .ls-b-container{
            .ls-b-head{
                padding-top: 20px;
                .ls-b-payment-wraper{
                    ul{
                        text-align: left;
                    }
                }
            }
            .ls-b-body{
                padding-top: 20px;
                ul{
                    li{
                        img{
                            margin-bottom: 30px;
                        }
                    }
                }
            }
            .ls-b-foot{
                p{
                    text-align: center;
                    margin-bottom: 5px;
                }
                .ls-b-app{
                    margin-bottom: 25px;
                }
                .ls-b-sns{
                    margin-bottom: 10px;
                }
                
            }
        }
    } 
    .ls-s-contact-us{
        min-height: calc(100vh - 310px);
    }
    .ls-coming-soon{
        .ls-b-container{
            p{
               max-width: 380px;           
            }
        }
    }

    .ls-s-user-info{
        padding: 50px 0;
        background-color: #f9f9f9;
        .ls-b-container{
            .ls-b-head{
                margin-bottom: 0;
                .ls-b-sidebar{
                    .ls-body{
                        padding: 30px;
                    }
                }
            }

        }
    }

    .ls-s-menu{
        .ls-b-container{
            .ls-b-body{
                .span-4{
                    margin-bottom: 15px;
                    &:nth-child(3n + 1){
                        margin-left: 0;
                    }
                }
            }
        }
    }
 }
 @include mq('desktop'){
    header{
        height: 60px;
        display: block;
        .ls-b-container{
            display: inherit;
            text-align: left;
            .ls-logo{
                height: 39px;
                @include center-absolute('vertical');
            }  
            .ls-b-auth{
                float: right;
                height: 60px;
                line-height: 60px;
                a{
                    color: $white;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    display: inline-block;
                    letter-spacing: 0.2px;
                }
                span{
                    color: white;
                    font-size: 15px;
                    padding: 0 5px;
                }
            }
        }
     }
    footer{
        padding: 35px 0 30px;
        .ls-b-container{
            .ls-b-foot{
                p{
                    text-align: left;
                }
                .ls-b-app{
                    margin-bottom: 0;
                    text-align: left;
                    li{
                        display: inline-block;
                        margin-right: 6px;
                        a{
                            margin-left: inherit;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
                .ls-b-sns{
                    text-align: left;
                }
                
            }
        }
    } 
    .ls-s-user-info{
        .ls-b-container{
            .ls-b-body{
                .ls-body{
                    form{
                        button{
                            max-width: 370px;
                            margin: 0 auto;
                        }
                        .ls-upload-group{
                            img{
                                display: inline-block;
                                margin-right: 25px;
                                vertical-align: middle;
                                margin-bottom: 0;
                            }
                            .ls-input-file-custom{
                                margin-right: 25px;
                                vertical-align: middle;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

        }
    }
 }