<div *ngIf='newsSidebarCMS' class="ls-b-news-item">
    <a routerLink='/news/{{newsSidebarCMS.slug}}' class="ls-news-img">
      <img src="{{newsSidebarCMS.thumbnail}}" alt="{{newsSidebarCMS.title}}">
    </a>
    <div class="ls-b-info">
      <div class="ls-b-info-inner">
        <div class="ls-head">
            <a routerLink='/news/{{newsSidebarCMS.slug}}'>{{newsSidebarCMS.title}}</a>
        </div>
        <div class="ls-body">
          <p>{{newsSidebarCMS.created_at | date}}</p>
        </div>
      </div>
    </div>
  </div>